<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
    <link rel="stylesheet" href="assets/css/Animated-Pretty-Product-List-v12.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/Block-Responsive-Item-List.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Grid-and-List-view-V10.css">
    <link rel="stylesheet" href="assets/css/Grid-and-List-view-V10.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Pretty-Registration-Form.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Profile-Card.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <script src="../node_modules/web3/dist/web3.js"></script>
</head>

<body>
    <div class="align-items-center align-content-center align-self-center login-dark" style="line-height:32px;">
        <form method="post">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline"></i><span style="font-size:49px;font-weight:bold">KICKFLIX</span></div>
            <div class="form-group"><input class="form-control" type="text" name="address" placeholder="Address" id="address" style="margin-top:10px"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password" id="password"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="button" onclick="setSession(userManager); test_user(userManager);">Log In</button></div><a href="register.html" class="forgot">Don't have an account ? Sign in !</a>
            <!--setSession(userManager);test_user(userManager) getSession(userManager)-->
        </form>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/Animated-Pretty-Product-List-v12.js"></script>
    <script src="assets/js/Grid-and-List-view-V10.js"></script>


    <script src="../index.1_web3_smartContracts.js"></script>
    <script src="../index.2_smartContract_events.js"></script>
    <script src="../index.3_smarContractFunctions.js"></script>
    <script src="../index.4_testFunction.js"></script>
    <script src="../index.5_toolsFunction.js"></script>

    <script src='../functionAboutUserManager.js'></script>
    <script src='../functionAboutFilmManager.js'></script>
    <script src='../functionAboutTokenManager.js'></script>
    <script src='../functionAboutTokenDistributionForUserManager.js'></script>
    <script src='../functionAboutTokenDistributionForTokenManager.js'></script>


    <script>
        function setSession(userManager) {

           
            userManager.getUser($("#address").val(), $("#password").val(), function (error, result) {

                if (!error) {
                    console.log("result_getUser:" + $("#address").val() + "->");
                    console.log("result_getMDP:" + $("#password").val() + "->");
                    console.log(result);

                    email = $("#address").val();
                    password = $("#password").val();
                    sessionStorage.clear();
                    sessionStorage.setItem('user', JSON.stringify({ 'email': email, 'password': password }));
                    user = JSON.parse(sessionStorage.getItem("user"));
           
                    console.log(user);
                    console.log('Your email and password has been saved.');

                }

            });

        }

        

    </script>

    <script>
        function test_user(userManager) {

            userManager.getUser($("#address").val(), $("#password").val(), function (error, result) {

                if (!error) {
                    console.log("result_getUser:" + $("#address").val() + "->");
                    
                    console.log(result);

                    switch (result[3]) {
                        
                        case "consumer":
                            window.location.replace("./wallet_consumer.html");
                            break;
                        case "producer":
                            window.location.replace("./wallet_producer.html");
                            break;
                        case "investor":
                            window.location.replace("./wallet_investor.html");
                            break;
                    }

                } else {
                    console.log("error_getUser:" + $("#address").val() + "->");
                    console.log(error);
                }
            });
        }
    </script>


</body>

</html>