<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
    <link rel="stylesheet" href="assets/css/Animated-Pretty-Product-List-v12.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/Block-Responsive-Item-List.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Grid-and-List-view-V10.css">
    <link rel="stylesheet" href="assets/css/Grid-and-List-view-V10.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Pretty-Registration-Form.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Profile-Card.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean">
            <div class="container"><a class="navbar-brand" href="wallet_consumer.html">Username</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto"></ul>
            </div>
    </div>
    </nav>
    <div class="card">
        <div class="card-body" style="background-color:#5789bf;">
            <h4 class="card-title" style="color:rgb(255,255,255);">Available ICOS</h4>
            <h6 class="text-muted card-subtitle mb-2" style="color:rgb(0,0,0);background-color:#ffffff;">Use your ethers here and sustain independant pictures!</h6>

            <div id="tokenMarket" class="row">
                
            </div>
        </div>
    </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/Animated-Pretty-Product-List-v12.js"></script>
    <script src="assets/js/Grid-and-List-view-V10.js"></script>


    <script src="../index.1_web3_smartContracts.js"></script>
    <script src="../index.2_smartContract_events.js"></script>
    <script src="../index.3_smarContractFunctions.js"></script>
    <script src="../index.4_otherFunctions.js"></script>

    <script type="text/javascript">
        tokenManager.getNumberToken(function(error,result) {
            console.log("numberToken:");
            console.log(result.c[0]);

            var tokenLength = Number(result.c[0]);
            // view
            var tokenMarket = document.getElementById("tokenMarket");
            var tokenMarket_html = "";

            for(var i =0; i < tokenLength; i++) {
                tokenManager.getByIndex_filmIndexes(i, function(error,result){
                    if(!error){
                        var filmIndex_return = result;
                        // console.log("filmIndex_return:"+filmIndex_return);

                        tokenManager.getToken(filmIndex_return, function(error, result) {
                            if(!error){
                                // console.log("result_getToken:"+filmIndex_return+"->");
                                // console.log(result);

                                infoToken = { 
                                    "index_filmIndexes": result[0].c[0], 
                                    "filmIndex": filmIndex_return.c[0], 
                                    "filmBudget": result[1].c[0], 
                                    "filmIssueDate": result[2].c[0], 
                                    "filmMaturity": result[3].c[0],
                                    "tokenPrice": result[4].c[0],
                                    "tokenNumber": result[5].c[0], 
                                    "tokenRecommend": result[6].c[0]
                                };

                                // add cards
                                tokenMarket_html += "<div class='col-4 py-3 mx-auto col-xl-4 col-lg-6 col-md-6 col-sm-12' style='min-width:300px;min-height:300px;'>"
                                tokenMarket_html += "<div class='card' style='width:100%;height:100%;'>";

                                tokenMarket_html += "<div class='card-body'>"; 
                                tokenMarket_html += "<h5>project number: <span>"+infoToken.filmIndex+"</span></h5>"; 
                                tokenMarket_html += "<br>"; 
                                tokenMarket_html += "<p>issue date: <span>2019.01.14(Di?)</span></p>"; 
                                tokenMarket_html += "<p>maturity date: <span>2019.01.15(Di?)</span></p>"; 
                                tokenMarket_html += "<p>token number: <span>"+infoToken.tokenNumber+"</span></p>"; 
                                tokenMarket_html += "<p>token price: <span>"+(infoToken.tokenPrice+0.001*infoToken.tokenRecommend)+"</span></p>"; 
                                tokenMarket_html += "<p>token Recommend: <span>"+infoToken.tokenRecommend+"</span></p>"; 
                                tokenMarket_html += "</div>"; 

                                tokenMarket_html += "<div class='card-footer text-center'><button class='btn btn-primary' type='button' style='width:206px;'>BUY</button>"
                                tokenMarket_html += "</div></div></div>";

                                // if((i+1)%3 == 0) {
                                //     tokenMarket_html += "</div><div class='row'>"; // 3 cards form 1 row
                                // }

                                
                                // tokenMarket_html += "</div>";
                                tokenMarket.innerHTML = tokenMarket_html
                                

                            } else {
                                console.log("error_getToken:"+filmIndex_return+"->");
                                console.log(error);
                            }
                        });

                    } else {
                        console.log("error_getByIndex_filmIndexes:");
                        console.log(error);
                    }

                });
            }
        });
    </script>
</body>

</html>