<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
    <link rel="stylesheet" href="assets/css/Animated-Pretty-Product-List-v12.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/Block-Responsive-Item-List.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Grid-and-List-view-V10.css">
    <link rel="stylesheet" href="assets/css/Grid-and-List-view-V10.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Pretty-Registration-Form.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Profile-Card.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean">
            <div class="container"><a class="navbar-brand" href="wallet_consumer.html">Username</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto"></ul>
            </div>
            </div>
        </nav>



        <div class="card">
            <div class="card-body" style="background-color:#5789bf;">
                <h4 class="card-title" style="color:rgb(255,255,255);">Available ICOS</h4>
                <h6 class="text-muted card-subtitle mb-2" style="color:rgb(0,0,0);background-color:#ffffff;">Use your ethers here and sustain independant pictures!</h6>

                <div id="tokenMarket" class="row"></div>
                 <!--  <form class='form-inline' style='margin-left: 5px;'>
                  <div class='form-group mb-6'>
                    <input type='number' class='form-control-plaintext' id='butTokenNumber' min='1' placeholder='buy token number'>
                  </div>
                  <button type='submit' class='btn btn-primary mb-2'>Confirm identity</button>
                </form> -->

            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/Animated-Pretty-Product-List-v12.js"></script>
    <script src="assets/js/Grid-and-List-view-V10.js"></script>



    <script src="../index.1_web3_smartContracts.js"></script>
    <script src="../index.2_smartContract_events.js"></script>
    <script src="../index.3_smarContractFunctions.js"></script>
    <script src="../index.4_testFunction.js"></script>

    <script src='../functionAboutUserManager.js'></script>
    <script src='../functionAboutFilmManager.js'></script>
    <script src='../functionAboutTokenManager.js'></script>
    <script src='../functionAboutTokenDistributionForUserManager.js'></script>
    <script src='../functionAboutTokenDistributionForTokenManager.js'></script>

    <script type="text/javascript">
        // ======================================================================
        async function showListOfTokenMarket(block_id, compte_investor, compte_producer) {
            // data
            var allToken = await returnListToken();
            // view
            var block = document.getElementById(block_id);
            var block_html = "";
            
            for(var item in allToken) {
                // console.log(allToken[item]);
                var oneToken = allToken[item];

                // add cards
                block_html += "<div class='col-4 py-3 mx-auto col-xl-4 col-lg-6 col-md-6 col-sm-12' style='min-width:300px;min-height:300px;'>"
                block_html += "<div class='card' style='width:100%;height:100%;'>";

                block_html += "<div class='card-body'>"; 
                block_html += "<h5>project number: <span>"+oneToken.filmIndex+"</span></h5>"; 
                block_html += "<br>"; 
                block_html += "<p>issue date: <span>"+oneToken.filmIssueDate+"</span></p>"; 
                block_html += "<p>maturity date: <span>"+oneToken.filmMaturity+"</span></p>"; 
                block_html += "<p>token number: <span>"+oneToken.tokenNumber+"</span></p>"; 
                block_html += "<p>token price: <span>"+(oneToken.tokenPrice+0.001*oneToken.tokenRecommend)+"</span></p>"; 
                block_html += "<p>token Recommend: <span>"+oneToken.tokenRecommend+"</span></p>"; 
                block_html += "</div>"; 

                block_html += "<hr>"; 

                block_html += 
                "<form class='form-inline' style='margin-left: 10px;'>"+
                    "<div class='form-group mb-6'><input type='number' class='form-control-plaintext' id='buyTokenNumberInput_"+oneToken.filmIndex+"' placeholder='buy token number' style='margin-bottom: 10px;'>"+
                    "</div>"+
                    "<button type='button' class='btn btn-primary mb-2' style='margin-left: 15px;' onclick=buyToken_button('"+compte_investor.email+"','"+compte_investor.password+"','"+compte_producer.email+"','"+oneToken.filmIndex+"','"+(oneToken.tokenPrice+0.001*oneToken.tokenRecommend)+"')>Buy</button>"+
                "</form>";
                block_html += "</div></div></div>";
            }

            block.innerHTML = block_html;

        }

        async function returnListToken() {
            var listToken = [];

            var numbertoken = await getNumberToken(); 
            // console.log(numbertoken);

            for(var i =0; i < numbertoken; i++) {
                var filmIndex = await getByIndex_filmIndexes(i);
                // console.log(filmIndex);
                var response = await getToken(filmIndex);
                listToken.push(response);
            }

            // console.log(listToken);
            return listToken;
        }

                
        async function buyToken_button(emailInvestor, passwordInvestor, emailProducer, filmIndex, oneTokenPrice) {
            // console.log(emailInvestor);
            // console.log(passwordInvestor);
            // console.log(emailProducer);
            // console.log(filmIndex);
            // console.log(oneTokenPrice);
            

            var buyTokenNumber = Number(document.getElementById("buyTokenNumberInput_"+filmIndex).value);
            // var buyTokenNumber = 1;
            if(buyTokenNumber >= 0) {
                console.log("buyTokenNumber:");
                console.log(buyTokenNumber);
                var userInvestor = await getUser(emailInvestor, passwordInvestor);

                // console.log("userInvestor:");
                // console.log(await getUser(userInvestor.userEmail, "a123"));
                // console.log((await getUser(userInvestor.userEmail, "a123")).userBalance);
                // console.log("userProducer:");
                // console.log(await getUser(emailProducer, "a123"));
                // console.log((await getUser(emailProducer, "a123")).userBalance);

                
                var userAddress_producer = await getUserAddressBy_userEmail(emailProducer);
                var userDistributionToken_producer_forUserManager = await getTokenForUser(userAddress_producer, filmIndex);
                console.log("userDistributionToken_producer_forUserManager:");
                console.log(userDistributionToken_producer_forUserManager);


                var userDistributionToken_producer_forTokenManager = await getUserForToken(filmIndex, userAddress_producer);
                console.log("userDistributionToken_producer_forTokenManager:");
                console.log(userDistributionToken_producer_forTokenManager);


                var userDistributionToken_investor_forUserManager = await getTokenForUser(userInvestor.userAddress, filmIndex);
                console.log("userDistributionToken_investor_forUserManager:");
                console.log(userDistributionToken_investor_forUserManager);

                var userDistributionToken_investor_forTokenManager = await getUserForToken(filmIndex, userInvestor.userAddress);
                console.log("userDistributionToken_investor_forTokenManager:");
                console.log(userDistributionToken_investor_forTokenManager);

                // BuyToken -> give money from investor to producer
                await buyToken(emailInvestor, passwordInvestor, emailProducer, oneTokenPrice, buyTokenNumber);
                // Update Distribution of token
                // producer
                await updateTokenForUser(userAddress_producer, filmIndex, 0, 0, userDistributionToken_producer_forUserManager.numberToken_user-buyTokenNumber);
                await updateTokenAndUser(filmIndex, userAddress_producer, (await getToken(filmIndex)).tokenNumber, userDistributionToken_producer_forTokenManager.numberToken_thisUser-buyTokenNumber);
                // Investor
                await updateTokenForUser(userInvestor.userAddress, filmIndex, 0, 0, userDistributionToken_investor_forUserManager.numberToken_user+buyTokenNumber);
                await updateTokenAndUser(filmIndex, userInvestor.userAddress, (await getToken(filmIndex)).tokenNumber, userDistributionToken_investor_forTokenManager.numberToken_thisUser+buyTokenNumber);
                
            } else {
                console.log("buyTokenNumber must be positif");
            }


        }

        // buyToken_button('3@gmail.com','a123','2@gmail.com','4','20');

    </script>

    <script type="text/javascript">
        var compte_investor = {
            "email": "3@gmail.com",
            "password": "a123"
        }

        var compte_producer = {
            "email": "2@gmail.com"
        }


        showListOfTokenMarket("tokenMarket", compte_investor, compte_producer);

        async function test() {
            var user = await getUser("2@gmail.com", "a123");
            // define in file functionAboutTokenDistributionForUserManager
            await getAllTokenForOneUser(user.userAddress);
            await getTokenForUser(user.userAddress, 4);
            // await updateTokenForUser(user.userAddress, 4, 0, 0, 300);
            var t =await getUserAddressBy_userEmail("2@gmail.com");
            console.log(t);
        }

        test();


        
    </script>
</body>

</html>