<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
    <link rel="stylesheet" href="assets/css/Animated-Pretty-Product-List-v12.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/Block-Responsive-Item-List.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Grid-and-List-view-V10.css">
    <link rel="stylesheet" href="assets/css/Grid-and-List-view-V10.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Pretty-Registration-Form.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Profile-Card.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean">
            <div class="container"><a class="navbar-brand" href="wallet_consumer.html">Username</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto"></ul>
            </div>
            </div>
        </nav>



        <div class="card">
            <div class="card-body" style="background-color:#5789bf;">
                <h4 class="card-title" style="color:rgb(255,255,255);">Available ICOS</h4>
                <h6 class="text-muted card-subtitle mb-2" style="color:rgb(0,0,0);background-color:#ffffff;">Use your ethers here and sustain independant pictures!</h6>

                <div id="tokenMarket" class="row"></div>
                 <!--  <form class='form-inline' style='margin-left: 5px;'>
                  <div class='form-group mb-6'>
                    <input type='number' class='form-control-plaintext' id='butTokenNumber' min='1' placeholder='buy token number'>
                  </div>
                  <button type='submit' class='btn btn-primary mb-2'>Confirm identity</button>
                </form> -->

            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/Animated-Pretty-Product-List-v12.js"></script>
    <script src="assets/js/Grid-and-List-view-V10.js"></script>



    <script src="../index.1_web3_smartContracts.js"></script>
    <script src="../index.2_smartContract_events.js"></script>
    <script src="../index.3_smarContractFunctions.js"></script>
    <script src="../index.4_testFunction.js"></script>

    <script src='../functionAboutUserManager.js'></script>
    <script src='../functionAboutTokenDistributionForUserManager.js'></script>
    <script src='../functionAboutFilmManager.js'></script>
    <script src='../functionAboutTokenManager.js'></script>
    <script src='../functionAboutTokenDistributionForTokenManager.js'></script>


    <script type="text/javascript">
        var compte_investor = {
            "email": "3@gmail.com",
            "password": "a123"
        }

        var compte_producer = {
            "email": "2@gmail.com"
        }


        showListOfTokenMarket("tokenMarket", compte_investor, compte_producer);
        


        
    </script>
</body>

</html>