<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
    <link rel="stylesheet" href="assets/css/Animated-Pretty-Product-List-v12.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/Block-Responsive-Item-List.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Grid-and-List-view-V10.css">
    <link rel="stylesheet" href="assets/css/Grid-and-List-view-V10.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Pretty-Registration-Form.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Profile-Card.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" type="text/css" href="C:/Users/davy7/projet blockchain/Projet_Blockchain_TokenisationFilm_test/node_modules/bootstrap/dist/css/bootstrap.min.css">

    <script src="C:/Users/davy7/projet blockchain/Projet_Blockchain_TokenisationFilm_test/node_modules/web3/dist/web3.js"></script>
</head>

<body onload="ajoutLigne();">
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean">
            <div class="container"><a class="navbar-brand" href="wallet_consumer.html">Username</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto"></ul>
            </div>
    </div>
    </nav>
    <div class="card">
        <div class="card-body" style="background-color:#5789bf;">
            <h4 class="card-title" style="color:rgb(255,255,255);">Available Movies</h4>
            <h6 class="text-muted card-subtitle mb-2" style="color:rgb(0,0,0);background-color:#ffffff;">Use your ethers here and enjoy our movie collection !</h6>
            <div class="row">
                <div class="col-4 py-3 mx-auto col-xl-4 col-lg-6 col-md-6 col-sm-12" style="min-width:300px;min-height:300px;">
                   <table id="maTable" border=4 cellspacing=4 cellpadding=4 width=30%>
                      <tr align=left>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Buy</th>
                      </tr>
                   </table>
                </div>            
            </div>
        </div>
        <div class="card-body" style="background-color:#5789bf;">
            <h4 class="card-title" style="color:rgb(255,255,255);">Available ICOS</h4>
            <h6 class="text-muted card-subtitle mb-2" style="color:rgb(0,0,0);background-color:#ffffff;">Use your ethers here and sustain independant pictures!</h6>
            <div class="row">
                <div class="col-4 py-3 mx-auto col-xl-4 col-lg-6 col-md-6 col-sm-12" style="min-width:300px;min-height:300px;">
 
                        
                            <table id="maTable1" border=4 cellspacing=4 cellpadding=4 width=30%>
                               <tr align=left>
                                  <th>Title</th>
                                  <th>Description</th>
                                  <th>Price</th>
                                  <th>Donation</th>
                               </tr>
                            </table>
                
           


            </div>
        </div>
    </div>
    </div>
   <script>
       if (typeof web3 !== 'undefined') {
            web3 = new Web3(web3.currentProvider);
        } else {
            // set the provider you want from Web3.providers
            web3 = new Web3(new Web3.providers.HttpProvider("https://ropsten.infura.io/v3/76ba8681b14b4f1bac44c41e5e0e843a"));
        }

        web3.eth.defaultAccount = web3.eth.accounts[0];
        console.log("user accounts:")
        console.log(web3.eth.accounts);

        var filmManagerContrat = web3.eth.contract(
[
	{
		"constant": false,
		"inputs": [
			{
				"name": "filmIndex",
				"type": "uint256"
			}
		],
		"name": "deleteFilm",
		"outputs": [
			{
				"name": "success",
				"type": "bool"
			}
		],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "filmName",
				"type": "string"
			},
			{
				"name": "filmDescription",
				"type": "string"
			},
			{
				"name": "filmImageUrl",
				"type": "string"
			},
			{
				"name": "filmUrl",
				"type": "string"
			},
			{
				"name": "filmPrice",
				"type": "uint256"
			},
			{
				"name": "filmNumberVoir",
				"type": "uint256"
			},
			{
				"name": "filmNotation",
				"type": "uint256"
			},
			{
				"name": "filmPublished",
				"type": "bool"
			},
			{
				"name": "filmIco",
				"type": "bool"
			},
			{
				"name": "userAddressProducer",
				"type": "address"
			}
		],
		"name": "insertFilm",
		"outputs": [
			{
				"name": "index_filmIndexes",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": false,
		"inputs": [
			{
				"name": "filmIndex",
				"type": "uint256"
			},
			{
				"name": "filmName",
				"type": "string"
			},
			{
				"name": "filmDescription",
				"type": "string"
			},
			{
				"name": "filmImageUrl",
				"type": "string"
			},
			{
				"name": "filmUrl",
				"type": "string"
			},
			{
				"name": "filmPrice",
				"type": "uint256"
			},
			{
				"name": "filmNumberVoir",
				"type": "uint256"
			},
			{
				"name": "filmNotation",
				"type": "uint256"
			},
			{
				"name": "filmPublished",
				"type": "bool"
			},
			{
				"name": "filmIco",
				"type": "bool"
			}
		],
		"name": "updateFilm",
		"outputs": [
			{
				"name": "success",
				"type": "bool"
			}
		],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "constructor"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": false,
				"name": "filmIndex",
				"type": "uint256"
			},
			{
				"indexed": false,
				"name": "filmName",
				"type": "string"
			},
			{
				"indexed": false,
				"name": "filmDescription",
				"type": "string"
			},
			{
				"indexed": false,
				"name": "filmImageUrl",
				"type": "string"
			},
			{
				"indexed": false,
				"name": "filmUrl",
				"type": "string"
			},
			{
				"indexed": false,
				"name": "filmPrice",
				"type": "uint256"
			},
			{
				"indexed": false,
				"name": "filmNumberVoir",
				"type": "uint256"
			},
			{
				"indexed": false,
				"name": "filmNotation",
				"type": "uint256"
			},
			{
				"indexed": false,
				"name": "filmPublished",
				"type": "bool"
			},
			{
				"indexed": false,
				"name": "filmIco",
				"type": "bool"
			},
			{
				"indexed": false,
				"name": "userAddressProducer",
				"type": "address"
			}
		],
		"name": "logFilm",
		"type": "event"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "index_filmIndexes",
				"type": "uint256"
			}
		],
		"name": "getByIndex_filmIndexes",
		"outputs": [
			{
				"name": "filmIndex",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "filmIndex",
				"type": "uint256"
			}
		],
		"name": "getFilm",
		"outputs": [
			{
				"name": "filmName",
				"type": "string"
			},
			{
				"name": "filmDescription",
				"type": "string"
			},
			{
				"name": "filmImageUrl",
				"type": "string"
			},
			{
				"name": "filmUrl",
				"type": "string"
			},
			{
				"name": "filmPrice",
				"type": "uint256"
			},
			{
				"name": "filmNumberVoir",
				"type": "uint256"
			},
			{
				"name": "filmNotation",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [
			{
				"name": "filmIndex",
				"type": "uint256"
			}
		],
		"name": "getFilmInfo_published_ico_producer",
		"outputs": [
			{
				"name": "filmIndex_return",
				"type": "uint256"
			},
			{
				"name": "filmPublished",
				"type": "bool"
			},
			{
				"name": "filmIco",
				"type": "bool"
			},
			{
				"name": "userAddressProducer",
				"type": "address"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [],
		"name": "getNumberFilm",
		"outputs": [
			{
				"name": "numberFilm",
				"type": "uint256"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	}
]
);
   function addButton() 
   { 
      var f1 = document.requeteur;
      var button = document.createElement("input");
      button.type="submit";
      button.value="Afficher le Rapport";  
      f1.appendChild(button);
   }

     var filmManager = filmManagerContrat.at("0xcfdab4d1af5a5241fb0f54235d409c66a7b03c1f");
     console.log(filmManager);
     filmManager.getNumberFilm(function(error, result) {
         if(!error){
             return result
         } else {
              console.log("error:");
              console.log(error);
         }
      });  
        
      filmIndex=5
         filmManager.getFilm( filmIndex,function(error, result) {
            if(!error){
                return result;
                
            } else {
                 console.log("error:");
                 console.log(error);
            }
         });
         filmManager.getFilmInfo_published_ico_producer( filmIndex,function(error, result) {
            if(!error){
                return result;
                
            } else {
                 console.log("error:");
                 console.log(error);
            }
         });
        

    taille=parseInt(filmManager.getNumberFilm());
   
    function ajoutLigne() {
         for ( i = 1; i < taille+1; i++) {
             ligne_tableau=1
             var table1 = document.getElementById("maTable");
             var table2 = document.getElementById("maTable1");
             valeur=filmManager.getFilm(i-1)
             sorti_film=filmManager.getFilmInfo_published_ico_producer(i-1)
             if (sorti_film[1]==true)
             {
                var row = table1.insertRow(ligne_tableau);
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2); 
                var cell4 = row.insertCell(3); 
                cell1.innerHTML = valeur[0];
                cell2.innerHTML = valeur[1];
                cell3.innerHTML = valeur[4];
                cell4.innerHTML = '<input type="button" value="Validate">';                 
                ligne_tableau++
                              
             }    
             if (sorti_film[2]==true)
             {
                var row = table2.insertRow(ligne_tableau);
                var cell1 = row.insertCell(0);
                var cell2 = row.insertCell(1);
                var cell3 = row.insertCell(2); 
                var cell4 = row.insertCell(3); 
                cell1.innerHTML = valeur[0];
                cell2.innerHTML = valeur[1];
                cell3.innerHTML = valeur[4];
                cell4.innerHTML = '<input type="button" value="Validate">';               
                ligne_tableau++
                              
             } 
        }} 
   

   
    </script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/Animated-Pretty-Product-List-v12.js"></script>
    <script src="assets/js/Grid-and-List-view-V10.js"></script>
</body>

</html>