<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
    <link rel="stylesheet" href="assets/css/Animated-Pretty-Product-List-v12.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/Block-Responsive-Item-List.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Grid-and-List-view-V10.css">
    <link rel="stylesheet" href="assets/css/Grid-and-List-view-V10.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Pretty-Registration-Form.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Profile-Card.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.css"></script>
    <script src="assets/js/Animated-Pretty-Product-List-v12.js"></script>
    <script src="assets/js/Grid-and-List-view-V10.js"></script>
</head>

<body>        
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean">
            <div class="container"><a class="navbar-brand" href="waller_producer.html">Username</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto"></ul>
                </div>
            </div>
        </nav>
    </div>

          
          
    <div class="row register-form">
             
        <div class="col-md-8 offset-md-2">
            <form class="custom-form">
               
                <div id = "success" class="alert alert-success alert-dismissible" role="alert">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> New film added successfully 
                    <a href="./wallet_producer.html">Click here to return to My Page (or wait 5s)</a>
                </div>

                <div id="error" class="alert alert-danger alert-dismissible" role="alert"> 
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error!</strong> Please check again your input
                </div>          
                <script>
                   
                $('#success').hide();
                $('#error').hide();
                    
                </script>
                <h1>Upload My Movie</h1>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Movie Title</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="text" name="title" id="title" placeholder="Movie Title"></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Movie Synopsis</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="text" name="synopsis" id="synopsis" placeholder="Movie Synopsis"></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Secured Link</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="text" name="link_film" id="link_film" placeholder="Link of the film"></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">Link to Image</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="text" name="link_image" id="link_image" placeholder="Link of film poster"></div>
                </div>
                <div class="form-row form-group">
                    <div class="col-sm-4 label-column"><label class="col-form-label" for="pawssword-input-field">Price</label></div>
                    <div class="col-sm-6 input-column"><input class="form-control" type="number" name="price" id="price" placeholder="Price"></div>
                </div>
                <button class="btn btn-light submit-button" type="button" onclick="insertFilm(filmManager);">Upload My New Movie</button></form>
        </div>
    </div>
    <script src="../index.1_web3_smartContracts.js"></script>
    <script src="../index.2_smartContract_events.js"></script>
    <script src="../index.3_smarContractFunctions.js"></script>
    <script src="../index.4_testFunction.js"></script>
    <script src="../index.5_toolsFunction.js"></script>
    
    <script src='../functionAboutUserManager.js'></script>
    <script src='../functionAboutFilmManager.js'></script>
    <script src='../functionAboutTokenManager.js'></script>
    <script src='../functionAboutTokenDistributionForUserManager.js'></script>
    <script src='../functionAboutTokenDistributionForTokenManager.js'></script>

<script> 
    // prepare smartContracts
   
    console.log("contract_filmManager:");
    console.log(filmManager);
    
    var logFilmEvent = filmManager.logFilm();
    logFilmEvent.watch(
    function(error, result){
        console.log("*********************************************");
        if (!error) {
            console.log("logFilmEvent:");
            console.log(result);
            console.log(result.args);
            console.log("\n");
        } else {
            console.log("error_logFilmEvent:");
            console.log(error);
        }
        }
    );

    function insertFilm(filmManager) {
        console.log($("#title").val());
        console.log($("#synopsis").val());
        console.log($("#link_film").val());
        console.log($("#link_image").val());
        console.log($("#price").val());
        console.log(compte_producer.address);

        filmManager.insertFilm($("#title").val(),$("#synopsis").val(),$("#link_image").val(), $("#link_film").val(),$("#price").val(),0,0,true,false,compte_producer.address,
            function(error, result) {
                if(!error){
                    $('#success').css("display","block");
                    console.log("insertFilm:");
                    console.log(result);
                    
                } else {
                    $('#error').css("display","block");
                    console.log("error_insertFilm:");
                    console.log(error);
                    
                }
            });
    }
    </script>

</body>

</html>