<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
    <link rel="stylesheet" href="assets/css/Animated-Pretty-Product-List-v12.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/Block-Responsive-Item-List.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Grid-and-List-view-V10.css">
    <link rel="stylesheet" href="assets/css/Grid-and-List-view-V10.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Pretty-Registration-Form.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Profile-Card.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <script src="../node_modules/web3/dist/web3.js"></script>
</head>

<body>
    <div class="register-photo">
        <div class="form-container">
            <div class="image-holder"></div>
            <form method="post">
                <h2 class="text-center"><strong>Create</strong> an account.</h2>
                <div class="form-group">
                    <input class="form-control" type="text" name="username" id="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="email" id="email" placeholder="Email" style="margin-top:15px;">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="address" id="adresse" placeholder="adresse" style="margin-top:15px;">
                </div>
                <select class="form-control" style="margin-bottom:15px;" id="identity">
                    <optgroup label="Select usertype"><option value="consumer" selected="">Consumer</option>
                        <option value="producer">Producer</option>
                        <option value="investor">Investor</option>
                    </optgroup>
                </select>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password" id="password">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password-repeat" placeholder="Password (repeat)" id="password-repeat">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="balance" placeholder="Balance" id="balance">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="button" onclick="insertUser(userManager);">Sign Up</button>
                </div>
                <a href="index.html" class="already">You already have an account? Login here.</a></form>
            </div>
        </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/Animated-Pretty-Product-List-v12.js"></script>
    <script src="assets/js/Grid-and-List-view-V10.js"></script>

    <script src="../index.1_web3_smartContracts.js"></script>
    <script src="../index.2_smartContract_events.js"></script>
    <script src="../index.3_smarContractFunctions.js"></script>
    <script src="../index.4_testFunction.js"></script>
    <script src="../index.5_toolsFunction.js"></script>

    <script src='../functionAboutUserManager.js'></script>
    <script src='../functionAboutFilmManager.js'></script>
    <script src='../functionAboutTokenManager.js'></script>
    <script src='../functionAboutTokenDistributionForUserManager.js'></script>
    <script src='../functionAboutTokenDistributionForTokenManager.js'></script>


    <script>
        // function sleep(milliseconds) {
        //   var start = new Date().getTime();
        //   for (var i = 0; i < 1e7; i++) {
        //     if ((new Date().getTime() - start) > milliseconds){
        //       break;
        //     }
        //   }
        // }

        async function addDistribution_register(userAddress) {
        	await insertUser_distributionForUserManager(userAddress);
        }

        async function insertUser(userManager) {
            console.log($("#username").val());
            console.log($("#email").val());
            console.log($("#adresse").val());
            // 0x3a31e14F3764a7Ac12730C59C52294D1008BAF7a
            console.log($("#identity").val());
            console.log($("#password").val());
            console.log($("#balance").val());
            if($("#password").val()==$("#password-repeat").val())
            {
                userManager.insertUser($("#email").val(), $("#password").val(), $("#adresse").val(), $("#username").val(), $("#identity").val(), $("#balance").val(), function(error, result) {
                    if(!error){
                        console.log("insertUser:");
                        console.log(result);
                        // sleep(500);
                        window.location.replace("./index.html");

                    } else {
                        console.log("error_insertUser:");
                        console.log(error);
                        // window.location.replace("./register.html");

                    }
                });

                if($("#identity").val() == "producer" || $("#identity").val() == "investor") {
                	await addDistribution_register($("#adresse").val());
                }
            }
        }

        
    </script>
</body>

</html>