<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
    <link rel="stylesheet" href="assets/css/Animated-Pretty-Product-List-v12.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/Block-Responsive-Item-List.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Grid-and-List-view-V10.css">
    <link rel="stylesheet" href="assets/css/Grid-and-List-view-V10.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Pretty-Registration-Form.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Profile-Card.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <script src="../node_modules/web3/dist/web3.js"></script>
</head>

<body>
    <div class="register-photo">
        <div class="form-container">
            <div class="image-holder"></div>
            <form method="post">
                <h2 class="text-center"><strong>Create</strong> an account.</h2>
                <div class="form-group">
                    <input class="form-control" type="text" name="username" id="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="address" id="adresse" placeholder="Address" style="margin-top:15px;">
                </div>
                <select class="form-control" style="margin-bottom:15px;" id="identity">
                    <optgroup label="Select usertype"><option value="consumer" selected="">Consumer</option>
                        <option value="producer">Producer</option>
                        <option value="investor">Investor</option>
                    </optgroup>
                </select>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password" id="password">
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password-repeat" placeholder="Password (repeat)" id="password-repeat">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="button" onclick="insertUser(userManager);">Sign Up</button>
                </div>
                <a href="index.html" class="already">You already have an account? Login here.</a></form>
            </div>
        </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/Animated-Pretty-Product-List-v12.js"></script>
    <script src="assets/js/Grid-and-List-view-V10.js"></script>

    <script> // web3 provider
            if (typeof web3 !== 'undefined') {
                web3 = new Web3(web3.currentProvider);
                // eth = new Eth(web3.currentProvider);
            } else {
                // set the provider you want from Web3.providers
                web3 = new Web3(new Web3.providers.HttpProvider("https://ropsten.infura.io/v3/76ba8681b14b4f1bac44c41e5e0e843a"));
                // eth = new Eth(web3.currentProvider);
            }
    
            web3.eth.defaultAccount = web3.eth.accounts[0];
            console.log("user accounts:")
            console.log(web3.eth.accounts);
            console.log("user default account:")
            console.log(web3.eth.defaultAccount);
    </script>

    <script> // prepare smartContracts
        var userManagerContrat_address = "0xb6eb46928be50e15bcc4ece94d87a187d959fb56";
        var userManagerContrat_abi = 
            [
                {
                    "constant": false,
                    "inputs": [
                        {
                            "name": "userAddress",
                            "type": "address"
                        },
                        {
                            "name": "userPassword",
                            "type": "string"
                        },
                        {
                            "name": "userAddressProducer",
                            "type": "address"
                        },
                        {
                            "name": "filmIndex",
                            "type": "uint256"
                        },
                        {
                            "name": "filmPrice",
                            "type": "uint256"
                        }
                    ],
                    "name": "buyFilm",
                    "outputs": [
                        {
                            "name": "success",
                            "type": "bool"
                        }
                    ],
                    "payable": false,
                    "stateMutability": "nonpayable",
                    "type": "function"
                },
                {
                    "constant": false,
                    "inputs": [
                        {
                            "name": "userAddress",
                            "type": "address"
                        },
                        {
                            "name": "userPassword",
                            "type": "string"
                        },
                        {
                            "name": "userName",
                            "type": "string"
                        },
                        {
                            "name": "userIdentity",
                            "type": "string"
                        },
                        {
                            "name": "userBalance",
                            "type": "uint256"
                        }
                    ],
                    "name": "insertUser",
                    "outputs": [
                        {
                            "name": "index_userIndexAddresses",
                            "type": "uint256"
                        }
                    ],
                    "payable": false,
                    "stateMutability": "nonpayable",
                    "type": "function"
                },
                {
                    "constant": false,
                    "inputs": [
                        {
                            "name": "userAddress",
                            "type": "address"
                        },
                        {
                            "name": "userPassword",
                            "type": "string"
                        },
                        {
                            "name": "userName",
                            "type": "string"
                        },
                        {
                            "name": "userIdentity",
                            "type": "string"
                        },
                        {
                            "name": "userBalance",
                            "type": "uint256"
                        }
                    ],
                    "name": "updateUser",
                    "outputs": [
                        {
                            "name": "success",
                            "type": "bool"
                        }
                    ],
                    "payable": false,
                    "stateMutability": "nonpayable",
                    "type": "function"
                },
                {
                    "constant": false,
                    "inputs": [
                        {
                            "name": "userAddress",
                            "type": "address"
                        },
                        {
                            "name": "userPassword",
                            "type": "string"
                        }
                    ],
                    "name": "deleteUser",
                    "outputs": [
                        {
                            "name": "success",
                            "type": "bool"
                        }
                    ],
                    "payable": false,
                    "stateMutability": "nonpayable",
                    "type": "function"
                },
                {
                    "constant": true,
                    "inputs": [
                        {
                            "name": "index_userIndexAddresses",
                            "type": "uint256"
                        }
                    ],
                    "name": "getByIndex_userIndexAddresses",
                    "outputs": [
                        {
                            "name": "userAddress",
                            "type": "address"
                        }
                    ],
                    "payable": false,
                    "stateMutability": "view",
                    "type": "function"
                },
                {
                    "constant": true,
                    "inputs": [],
                    "name": "totalSupplyEthereum",
                    "outputs": [
                        {
                            "name": "",
                            "type": "uint256"
                        }
                    ],
                    "payable": false,
                    "stateMutability": "view",
                    "type": "function"
                },
                {
                    "constant": false,
                    "inputs": [
                        {
                            "name": "userAddress",
                            "type": "address"
                        },
                        {
                            "name": "userOldPassword",
                            "type": "string"
                        },
                        {
                            "name": "userNewPassword",
                            "type": "string"
                        }
                    ],
                    "name": "updateUserPassword",
                    "outputs": [
                        {
                            "name": "success",
                            "type": "bool"
                        }
                    ],
                    "payable": false,
                    "stateMutability": "nonpayable",
                    "type": "function"
                },
                {
                    "constant": true,
                    "inputs": [
                        {
                            "name": "userAddress",
                            "type": "address"
                        },
                        {
                            "name": "userPassword",
                            "type": "string"
                        }
                    ],
                    "name": "getUser",
                    "outputs": [
                        {
                            "name": "index_userIndexAddresses",
                            "type": "uint256"
                        },
                        {
                            "name": "userName",
                            "type": "string"
                        },
                        {
                            "name": "userIdentity",
                            "type": "string"
                        },
                        {
                            "name": "userBalance",
                            "type": "uint256"
                        },
                        {
                            "name": "userBoughtFilm",
                            "type": "uint256[]"
                        }
                    ],
                    "payable": false,
                    "stateMutability": "view",
                    "type": "function"
                },
                {
                    "constant": true,
                    "inputs": [],
                    "name": "getNumberUser",
                    "outputs": [
                        {
                            "name": "numberUser",
                            "type": "uint256"
                        }
                    ],
                    "payable": false,
                    "stateMutability": "view",
                    "type": "function"
                },
                {
                    "inputs": [],
                    "payable": false,
                    "stateMutability": "nonpayable",
                    "type": "constructor"
                },
                {
                    "anonymous": false,
                    "inputs": [
                        {
                            "indexed": false,
                            "name": "function_call",
                            "type": "string"
                        },
                        {
                            "indexed": false,
                            "name": "userIndex",
                            "type": "uint256"
                        },
                        {
                            "indexed": false,
                            "name": "userAddress",
                            "type": "address"
                        },
                        {
                            "indexed": false,
                            "name": "userName",
                            "type": "string"
                        },
                        {
                            "indexed": false,
                            "name": "userIdentity",
                            "type": "string"
                        },
                        {
                            "indexed": false,
                            "name": "userBalance",
                            "type": "uint256"
                        },
                        {
                            "indexed": false,
                            "name": "userBoughtFilm",
                            "type": "uint256[]"
                        }
                    ],
                    "name": "logUser",
                    "type": "event"
                },
                {
                    "anonymous": false,
                    "inputs": [
                        {
                            "indexed": false,
                            "name": "function_call",
                            "type": "string"
                        },
                        {
                            "indexed": false,
                            "name": "success",
                            "type": "bool"
                        }
                    ],
                    "name": "operationUser",
                    "type": "event"
                }
            ];
</script>
<script> // prepare smartContracts
        var userManager = web3.eth.contract(userManagerContrat_abi).at(userManagerContrat_address);
        console.log("contract_userManager:");
        console.log(userManager);
</script>
<script> // watch events returned by smartContract
        var logUserEvent = userManager.logUser();
        logUserEvent.watch(
            function(error, result){
                console.log("*********************************************");
                if (!error) {
                    console.log("logUserEvent:");
                    console.log(result);
                    console.log(result.args);
                    console.log("\n");
                } else {
                    console.log("error_logUserEvent:");
                    console.log(error);
                }
            });
</script>
<script>
        function sleep(milliseconds) {
          var start = new Date().getTime();
          for (var i = 0; i < 1e7; i++) {
            if ((new Date().getTime() - start) > milliseconds){
              break;
            }
          }
        }

        function insertUser(userManager) {
            console.log($("#adresse").val());
            console.log($("#password").val());
            console.log($("#username").val());
            console.log($("#identity").val());
            if($("#password").val()==$("#password-repeat").val())
            {
                userManager.insertUser($("#adresse").val(), $("#password").val(), $("#username").val(), $("#identity").val(), "0", 
                {
                    "from": web3.eth.defaultAccount, 
                    'gas': 6000000
                }, function(error, result) {
                    if(!error){
                        console.log("insertUser:");
                        console.log(result);
                    } else {
                        console.log("error_insertUser:");
                        console.log(error);
                    }
                });
                sleep(500);

                /*userManager.getUser($("#adresse").val(), $("#password").val(), function(error, result) {
                        if(!error){
                            console.log("result_getUser:"+$("#adresse").val()+"->");
                            console.log(result);
                        } else {
                            console.log("error_getUser:"+$("#adresse").val()+"->");
                            console.log(error);
                        }
                    });*/
                window.location.replace("./index.html");
            }
        }
</script>
</body>

</html>