<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
    <link rel="stylesheet" href="assets/css/Animated-Pretty-Product-List-v12.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/Block-Responsive-Item-List.css">
    <link rel="stylesheet" href="assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="assets/css/Grid-and-List-view-V10.css">
    <link rel="stylesheet" href="assets/css/Grid-and-List-view-V10.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Pretty-Registration-Form.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Profile-Card.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div class="article-list"></div>
    <div></div>
    <div></div>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
            <div class="container">
                <div id="username"></div><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                     id="navcol-1">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="#"><div id="solde"></div></a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="#"><div id="identity"></div></a></li>
                    </ul><span class="navbar-text actions"> <a class="btn btn-light action-button" role="button" href="index.html">Sign Out</a></span>
                </div>
            </div>
        </nav>
    </div>
    <div>
        <div class="profile-card">
            <div class="profile-back"></div><img class="rounded-circle profile-pic" src="assets/img/2.png">
            <ul class="social-list"></ul><a class="btn btn-primary" role="button" href="movie_form.html" style="margin:30px;width:272px;background-color:rgb(155,31,31);">Add a Movie</a><a class="btn btn-primary" role="button" href="ico_form.html" style="margin:30px;width:272px;background-color:rgb(155,31,31);">Create ICO's</a>
        </div>
    </div>
    <div class="article-list">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">My ICO's</h2>
                <p class="text-center">Here are your investment !</p>
            </div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 flex-wrap item">
                    <a href="#"><img class="img-fluid" src="assets/img/desk.jpg"></a>
                    <h5>project number: <span>3</span></h5><br>
                    <p>issue date: <span>1/1/1970</span></p>
                    <p>maturity date: <span>1/1/1970</span></p>
                    <p>investor's token number: <span>100</span></p>
                    <p>token price: <span>10</span></p>
                    <p>token Recommend: <span>0</span></p>
                    <button type="button" class="btn btn-primary mb-2" onclick="finishToken();">Finish token</button>
                </div>
                <div class="col-sm-6 col-md-4 item">
                    <a href="#"><img class="img-fluid" src="assets/img/building.jpg"></a>
                    <h3 class="name">MovieTitle2</h3>
                    <p class="description">ico data 2</p><a href="#" class="action"></a>
                </div>
                <div class="col-sm-6 col-md-4 item">
                    <a href="#"><img class="img-fluid" src="assets/img/loft.jpg"></a>
                    <h3 class="name">MovieTitle3</h3>
                    <p class="description">ico data 2</p><a href="#" class="action"></a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="intro">
                <h2 class="text-center">My Movies</h2>
                <p class="text-center">Your uploaded movies.</p>
            </div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 flex-wrap item">
                    <a href="#"><img class="img-fluid" src="assets/img/desk.jpg"></a>
                    <h3 class="name">MovieTitle1</h3><span>ico data</span>
                </div>
                <div class="col-sm-6 col-md-4 item">
                    <a href="#"><img class="img-fluid" src="assets/img/building.jpg"></a>
                    <h3 class="name">MovieTitle2</h3>
                    <p class="description">ico data 2</p><a href="#" class="action"></a>
                </div>
                <div class="col-sm-6 col-md-4 item">
                    <a href="#"><img class="img-fluid" src="assets/img/loft.jpg"></a>
                    <h3 class="name">MovieTitle3</h3>
                    <p class="description">ico data 2</p><a href="#" class="action"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="#">Web design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#">Company</a></li>
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>KICKFLIX</h3>
                        <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                    </div>
                </div>
                <p class="copyright">Kickflix © 2019</p>
            </div>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/Animated-Pretty-Product-List-v12.js"></script>
    <script src="assets/js/Grid-and-List-view-V10.js"></script>


    <script src="../index.1_web3_smartContracts.js"></script>
    <script src="../index.2_smartContract_events.js"></script>
    <script src="../index.3_smarContractFunctions.js"></script>
    <script src="../index.4_testFunction.js"></script>
    <script src="../index.5_toolsFunction.js"></script>

    <script src='../functionAboutUserManager.js'></script>
    <script src='../functionAboutFilmManager.js'></script>
    <script src='../functionAboutTokenManager.js'></script>
    <script src='../functionAboutTokenDistributionForUserManager.js'></script>
    <script src='../functionAboutTokenDistributionForTokenManager.js'></script>

    
    <script type="text/javascript">
        async function showListOfTokenMarket_forProducer() {
            var listTokens_forProducer = await returnListToken_forProducer();
            
            console.log("yang");
            console.log(listTokens_forProducer)

        }

        async function returnListToken_forProducer() {
            var listTokens_forProducer = [];

            var numberFilm = await getNumberFilm(); 
            // console.log(numberFilm);

            for(var i =1; i < numberFilm+1; i++) {
                var film_ICO = await getFilmInfo_published_ico_producer(i);
                // console.log(film_ICO);
                if(film_ICO.filmIco == true) {
                    var tokenInfo = await getToken(film_ICO.filmIndex);
                    tokenInfo["filmIco"] = film_ICO.filmIco;
                    tokenInfo["filmPublished"] = film_ICO.filmPublished;
                    tokenInfo["userAddressProducer"] = film_ICO.userAddressProducer;

                   listTokens_forProducer.push(tokenInfo);
                }
            }

            return listTokens_forProducer;
        }
    </script>


    <script>
        // profil(userManager);
        showListOfTokenMarket_forProducer();

    </script>

</body>

</html>